{% extends 'base.html.twig' %}

{% block title %}Todo Liste{% endblock %}

{% block body %}
    <div>
        <a href="#">Ajouter une tâche</a>

        <div>
            <table class="table-fixed">
                <thead>
                    <tr>
                    <th>Tâches</th>
                    <th>Catégorie(s)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Faire les courses</td>
                        <td>Course</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
